---
layout: default
generator: pagination
pagination:
    max_per_page: 10
use:
    - posts
main_img:
    path: home.jpg
    copyright:
        name: Mark Danielson
        url: https://www.flickr.com/photos/mrbula/

---

{% for post in page.pagination.items %}
<div class="post-preview">
    <a href="{{ site.url }}{{ post.url }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.description %}
        <h3 class="post-subtitle">
            {{ post.description }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta"><span class="meta"><i class="fa fa-calendar"></i> {{ post.date | date('Y-m-d') }}</p>
</div>
{% endfor %}